################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.YourDiary
/.vs/YourDiary/config/applicationhost.config
/.vs/YourDiary
